body{
  /*background: #F7B733;*/
}

.navbar{
  /*background-color: #F7B733 !important;*/
  background:#DFDCE3 !important;
}

.column{
  padding: 0 !important;
}
.class-list{
  padding:1.6em;
  background:#4ABDAC;
  height: 100%;
}
.class-list-heading{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color:#1a3e77;
}
hr{
  background-color: #1a3e77 !important;
}

.student{
  font-size: 1.2rem;
  font-weight: 550;
}

.student:hover {
  background-color: #1a3e77 !important;
  color: white !important;
}
.button{
  background-color: #1a3e77 !important;
  color:white !important;
}
.student-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background:#4ABDAC;*/
  background:#1a3e77;
  height: 100%;
}
.student-info{
  background-color:#DFDCE3;
  font-size: 1.5rem;
  border: .2rem black solid;
  margin: 1em;
  width:50%;
  text-align: center;

}
.student-form{
padding: .5rem;
}

.test-form{
  padding: .5rem;
}


.app{
  height:100vh;
}

.chart{
  background:#DFDCE3;
  width:50em;
  height: 30rem;
}
.new-student-form{
  background-color: #4ABDAC;
  padding: 1em !important;
}
